.container {
    width: 480px;

    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;

    @include tablet {
        min-width: 768px;
    }

    @include desktop {
        min-width: 1200px;
    }
}
