h1 {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin: 0 auto;
    width: 696px;

    text-align: center;
    padding-top: 200px;
    padding-bottom: 50px;
    letter-spacing: 0.06em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    padding-bottom: 50px;
}

h3 {
    font-size: 14px;

    font-weight: 700;
}

h4 {
    font-size: 14px;

    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: #2196f3;
    margin-right: 97px;
}
