.highlights {
    display: flex;

    //justify-content: center;
    //flex-wrap: wrap;
    //align-items: center;
    flex-direction: column;

    //list-style: none;
    //padding: 0;
    //max-width: 450px;
    //margin: 0 auto;

    gap: 30px;

    &__highlights-header {
        display: flex;
        align-items: center;
    }

    &__item {
        display: block;
        // align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        //max-width: 450px;
        //margin: auto;

        //flex-basis: calc((1200px - 90px) / 4);
    }

    &__back {
        display: flex;
        color: #f5f4fa;
    }

    &__icon {
        display: flex;
        background-color: #f5f4fa;
        height: 120px;
        border-radius: 4px;

        padding-top: 25px;
        //margin: 0 auto;
        //max-width: 450px;
    }

    &__desc {
        //display: flex;
        //justify-content: center;

        color: #757575;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        //margin: 0 auto;
        max-width: 450px;
    }

    @include tablet {
        display: flex;

        flex-direction: row;

        //align-content: flex-start;
        flex-wrap: wrap;

        //margin: auto;
        justify-content: space-between;
        padding: 0;

        //flex-basis: calc((100% - 30px) / 2);
        gap: 30px;

        &__item {
            max-width: 354px;
        }

        &__icon {
            max-width: 354px;
            flex-basis: calc((738px - 30px) / 2);
        }

        &__desc {
            max-width: 354px;
        }
    }
    @include desktop {
        display: flex;

        flex-direction: row;
        justify-content: space-between;

        padding: 0;

        flex-wrap: nowrap;

        //flex-basis: calc((100% - 90px) / 4);
        //align-items: center;
        gap: 30px;

        &__item {
            max-width: 270px;
            //padding-top: 0;
        }

        &__icon {
            max-width: 270px;

            // flex-basis: calc((1200px - 90px) / 4);
            // gap: 30px;
        }

        &__desc {
            max-width: 270px;
        }
    }
}
