.filter {
    line-height: 1.63;
    display: flex;
    justify-content: center;

    margin: 0 auto;
    width: 611px;
    gap: 8px;

    margin-bottom: 34px;

    &__menu:hover,
    &__menu:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    }
}

button {
    display: flex;
    font-weight: 500;

    border-style: none;
    border-radius: 4px;
    justify-content: center;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 6px;
    padding-bottom: 6px;

    &:hover,
    &:focus {
        background-color: #fff;
        background-color: #2196f3;
        border-radius: 4px;
        border-style: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.39, 1.03, 0.82, 0.08);
    }
}
