.menu-container.is-open {
    transform: transleteX(0);
}

.menu-container {
    background-color: #fff;
    position: fixed;
    margin-top: 0px;

    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);

    &__close-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: transparent;
    }

    &__mobile-menu {
        display: flex;
        flex-direction: column;
    }
}
