.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: none;
    outline: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: transparent;
    fill: #3f51b5;
}

.toggle-svg {
    fill: #212121;

    &:hover {
        fill: #2196f3;
        transform: $transition;
    }
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.mobile-nav {
    &__link {
        color: #212121;
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 0.02em;
        line-height: 1.2;
        display: block;
        margin-bottom: 32px;
        transition: $transition;
        &:hover,
        &:focus {
            color: getColor("accent");
        }
        &--accent {
            position: relative;
            color: getColor("accent");
        }
    }
}

.contact-mobile {
    margin-top: auto;
    &__telephone {
        color: #2196f3;
        font-weight: 500;
        font-size: 34px;
        letter-spacing: 0.02em;
        line-height: 1.2;
        display: block;
        margin-bottom: 32px;
        transition: $transition;
        &:hover,
        &:focus {
            color: getColor("accent");
        }
    }
    &__email {
        @extend .contact-mobil__telephone !optional;
        font-size: 24px;
        margin-bottom: 64px;
        color: #757575;
    }
}

.socialmedia-mobile {
    display: flex;
    align-items: bottom;

    &__item {
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        &--notborder {
            border: 0;
        }
    }
    &__link {
        color: #2196f3;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 1.2;
        transition: $transition;
        &:hover,
        &:focus {
            color: getColor("accent");
        }
    }
}
