/*global variables*/

$defaultFont: "Roboto", sans-serif;
$defaultColor: #212121;
$backgroundColor: #fff;
$defaultFontSize: 16px;
$linkColor: #2196f3;
$transitionDuration: 250ms;
$transition: cubic-bezier(0.39, 1.03, 0.82, 0.08);
